{"swagger":"2.0","info":{"title":"MAPS Rest API","description":"A rest web service for getting JSON formatted data about assays.","version":"1.0"},"servers":[{"url":"https://maps-app.gene.com","description":""}],"tags":[{"name":"Studies","description":"Operations about studies"},{"name":"Projects","description":"Operations about projects"},{"name":"Assays","description":"Operations about assays"},{"name":"Users","description":"Operations about users"},{"name":"Rosters","description":"Operations about rosters"},{"name":"Access","description":"Operations to get access"}],"paths":{"/api/v1/login":{"post":{"tags":["Access"],"summary":"Login and receive MAPS authentication token","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequestDto"}}},"required":true},"responses":{"403":{"description":"Invalid login and/or password"},"200":{"description":"Login successfully"}}}},"/api/v1/rosters":{"get":{"tags":["Rosters"],"description":"Get rosters","operationId":"getRosters","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FunctionalRosterDto"}}}}}},"security":[{"bearer":[]}]}},"/api/v1/roster/{rosterId}/projects":{"get":{"tags":["Rosters"],"description":"Get projects for roster","operationId":"getProjects","parameters":[{"name":"rosterId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Roster"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProjectDto"}}}}}},"security":[{"bearer":[]}]}},"/api/v1/roster/{rosterId}/members":{"get":{"tags":["Rosters"],"description":"Get members for roster","operationId":"getMembers","parameters":[{"name":"rosterId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Roster"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TeamMemberDto"}}}}}},"security":[{"bearer":[]}]}},"/api/v1/users/whitelist":{"get":{"tags":["Users"],"description":"Get users on whitelist","operationId":"getWhiteList","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExternalUserDto"}}}}}},"security":[{"bearer":[]}]}},"/api/v1/assays":{"get":{"tags":["Assays"],"summary":"Get primary assays list","description":"Multiple values for platform, functional, species and purpose can be provided with comma separated strings.","operationId":"getAssays","parameters":[{"name":"searchName","in":"query","description":"Search value","required":false,"schema":{"type":"string"}},{"name":"platform","in":"query","description":"Expected values: Bead based multiplex immunoassay, Cellular Proliferation (Nab), Digital multiplexed assay, Electrochemiluminescence Immunoassay, ELISA, Flow Cytometry, InSphero Microtissues, LC-MS, LC-MS/MS, Microfluidics Immunoassay, Microfluidics-based PCR quantitation,MSD, NGS, Radioimmunoprecipitation, Turbidimetric Immunoassay","required":false,"schema":{"type":"string"}},{"name":"functional","in":"query","description":"Expected values: BAS, DMPK-BA, OBD, OMNI-BD, SA","required":false,"schema":{"type":"string"}},{"name":"species","in":"query","description":"Expected values: cyno, dog, human, mouse, rabbit, rat","required":false,"schema":{"type":"string"}},{"name":"purpose","in":"query","description":"Expected values: acDrug Quantitation, Biomarker Quantitation, Cytokine Quantitation, Cytotoxicity Assessment, Drug Conjugate Quantitation, Drug Quantitation, Gene Expression, Immunogenicity, Large Molecule Quantitation, Lipid Quantitation, MOA Characterization, NAb detection, Peptide Quantitation, Pharmacokinetics, Quantitation, Small Molecule Quantitation, Total Antibody Quantitation, Unconjugated Drug Quantitation","required":false,"schema":{"type":"string"}},{"name":"date","in":"query","description":"Will display assay created or modified between given date and today. Format: YYYY-MM-DD","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number which will be returned. Indexing from 0","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"How many elements will be on one page","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RfmAssays"}}}},"400":{"description":"Input data is not correct"},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}},"/api/v1/assays/site-assay":{"get":{"tags":["Assays"],"summary":"Get site assays created or modified after date","operationId":"getSiteAssays","parameters":[{"name":"date","in":"query","description":"Will display site assay created or modified between given date and today, format: YYYY-MM-DD","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number which will be returned. Indexing from 0","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"How many elements will be on one page","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageSiteAssayEnclosingModel"}}}},"400":{"description":"Input data is not correct"},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]},"post":{"tags":["Assays"],"summary":"Create new site assay","operationId":"saveSiteAssay","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteAssayModifyDto"}}},"required":true},"responses":{"200":{"description":"Successfully saved resource. Number below is id of new site assay.","content":{"application/json":{"schema":{"type":"string"}}}},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}},"/api/v1/assays/site-assay/{siteAssayId}":{"get":{"tags":["Assays"],"summary":"Get single site assay","operationId":"getSiteAssay","parameters":[{"name":"siteAssayId","in":"path","description":"Site assay id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteAssayEnclosingModel"}}}},"403":{"description":"The action you are trying to perform is forbidden"},"404":{"description":"The resource you were trying to reach is not found"}},"security":[{"bearer":[]}]}},"/api/v1/comet/assays/site-assays/{siteAssayIdOrSiteCodeOfAssay}":{"get":{"tags":["Assays"],"summary":"Get site assays by Ids or CRO Ids","operationId":"getSiteAssaysByIds","parameters":[{"name":"siteAssayIdOrSiteCodeOfAssay","in":"path","description":"Site assay id","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SiteAssayDto"}}}}},"400":{"description":"Input data is not correct"},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}},"/api/v1/rfm/assays":{"get":{"tags":["Assays"],"summary":"RFM Get assays created or modified after date","operationId":"getRfmAssays","parameters":[{"name":"date","in":"query","description":"Will display assays created or modified between given date and today. Format: YYYY-MM-DD","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number which will be returned. Indexing from 0","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"How many elements will be on one page","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RfmAssays"}}}},"400":{"description":"Input data is not correct"},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}},"/api/v1/rfm/assays/analytes":{"get":{"tags":["Assays"],"summary":"RFM Get analytes data","operationId":"getRfmAnalytes","parameters":[{"name":"page","in":"query","description":"Page number which will be returned. Indexing from 0","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"How many elements will be on one page","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageAssayAnalyteRfmDto"}}}},"400":{"description":"Input data is not correct"},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}},"/api/v1/rfm/siteAssays/cros":{"get":{"tags":["Assays"],"summary":"RFM Get site assays cro sites","operationId":"getRfmCros","parameters":[{"name":"page","in":"query","description":"Page number which will be returned. Indexing from 0","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"How many elements will be on one page","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageSiteAssayCroDto"}}}},"400":{"description":"Input data is not correct"},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}},"/api/v1/rfm/siteAssays/bioMatrices":{"get":{"tags":["Assays"],"summary":"RFM Get site assays biological matrices","operationId":"getRfmBioMatrices","parameters":[{"name":"page","in":"query","description":"Page number which will be returned. Indexing from 0","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"How many elements will be on one page","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageSiteAssayBioMatrixDto"}}}},"400":{"description":"Input data is not correct"},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}},"/api/v1/assays/inProcess":{"get":{"tags":["Assays"],"summary":"Get primary assays list","description":"Multiple values for platform, functional, species and purpose can be provided with comma separated strings.","operationId":"getAssaysInProcess","parameters":[{"name":"searchName","in":"query","description":"Search value","required":false,"schema":{"type":"string"}},{"name":"workflowStatus","in":"query","description":"Expected values: DRAFT, SUBMITTED, REJECTED","required":false,"schema":{"type":"string","enum":["DRAFT","SUBMITTED","REJECTED"]}},{"name":"platform","in":"query","description":"Expected values: Bead based multiplex immunoassay, Cellular Proliferation (Nab), Digital multiplexed assay, Electrochemiluminescence Immunoassay, ELISA, Flow Cytometry, InSphero Microtissues, LC-MS, LC-MS/MS, Microfluidics Immunoassay, Microfluidics-based PCR quantitation,MSD, NGS, Radioimmunoprecipitation, Turbidimetric Immunoassay","required":false,"schema":{"type":"string"}},{"name":"functional","in":"query","description":"Expected values: BAS, DMPK-BA, OBD, OMNI-BD, SA","required":false,"schema":{"type":"string"}},{"name":"species","in":"query","description":"Expected values: cyno, dog, human, mouse, rabbit, rat","required":false,"schema":{"type":"string"}},{"name":"purpose","in":"query","description":"Expected values: acDrug Quantitation, Biomarker Quantitation, Cytokine Quantitation, Cytotoxicity Assessment, Drug Conjugate Quantitation, Drug Quantitation, Gene Expression, Immunogenicity, Large Molecule Quantitation, Lipid Quantitation, MOA Characterization, NAb detection, Peptide Quantitation, Pharmacokinetics, Quantitation, Small Molecule Quantitation, Total Antibody Quantitation, Unconjugated Drug Quantitation","required":false,"schema":{"type":"string"}},{"name":"date","in":"query","description":"Will display assay created or modified between given date and today. Format: YYYY-MM-DD","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number which will be returned. Indexing from 0","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"How many elements will be on one page","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RfmAssays"}}}},"400":{"description":"Input data is not correct"},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}},"/api/v1/rfm/assays/site-assay":{"get":{"tags":["Assays"],"summary":"RFM Get site assays created or modified after date","operationId":"getRfmSiteAssays","parameters":[{"name":"date","in":"query","description":"Will display site assays created or modified between given date and today. Format: YYYY-MM-DD","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number which will be returned. Indexing from 0","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"How many elements will be on one page","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RfmSiteAssays"}}}},"400":{"description":"Input data is not correct"},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}},"/api/v1/assays/{primaryAssayId}":{"get":{"tags":["Assays"],"summary":"Get single primary assay","operationId":"getAssayById","parameters":[{"name":"primaryAssayId","in":"path","description":"Primary assay id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalAssayEnclosingModel"}}}},"403":{"description":"The action you are trying to perform is forbidden"},"404":{"description":"The resource you were trying to reach is not found"}},"security":[{"bearer":[]}]}},"/api/v1/projectDetails":{"get":{"tags":["Projects"],"description":"Get project details list","operationId":"getProjectDetails","parameters":[{"name":"date","in":"query","description":"Will display project created or modified between given date and today. Format: YYYY-MM-DD","required":false,"schema":{"type":"string"}},{"name":"aliasOrProjectId","in":"query","description":"Will display project details with given alias name or project id","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number which will be returned. Indexing from 0","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"How many elements will be on one page","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectDetails"}}}},"400":{"description":"Input data is not correct"},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}},"/api/v1/projects/user":{"get":{"tags":["Projects"],"description":"Get project list","operationId":"getSecureProjects","parameters":[{"name":"username","in":"query","description":"Username","required":true,"schema":{"type":"string"}},{"name":"date","in":"query","description":"Will display project created or modified between given date and today. Format: YYYY-MM-DD","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number which will be returned. Indexing from 0","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"How many elements will be on one page","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecureProjects"}}}},"400":{"description":"Input data is not correct"},"403":{"description":"The action you are trying to perform is forbidden"},"404":{"description":"The resource you were trying to reach is not found"}},"security":[{"bearer":[]}]}},"/api/v1/projectAliases":{"get":{"tags":["Projects"],"description":"Get project aliases list","operationId":"getProjectAliases","parameters":[{"name":"aliasOrProjectId","in":"query","description":"Will display project details with given alias name or project id","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number which will be returned. Indexing from 0","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"How many elements will be on one page","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectAliases"}}}},"400":{"description":"Input data is not correct"},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}},"/api/v1/projects":{"get":{"tags":["Projects"],"description":"Get project list","operationId":"getProjects_1","parameters":[{"name":"date","in":"query","description":"Will display project created or modified between given date and today. Format: YYYY-MM-DD","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number which will be returned. Indexing from 0","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"How many elements will be on one page","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Input data is not correct"},"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Projects"}}}},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}},"/api/v1/studyAliases":{"get":{"tags":["Studies"],"operationId":"getStudyAliases","parameters":[{"name":"date","in":"query","description":"Will display study aliases created or modified between given date and today. Format: YYYY-MM-DD","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number which will be returned. Indexing from 0","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"How many elements will be on one page","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudyAliases"}}}},"400":{"description":"Input data is not correct"},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}},"/api/v1/studyDetails":{"get":{"tags":["Studies"],"operationId":"getStudyDetails","parameters":[{"name":"date","in":"query","description":"Will display studies created or modified between given date and today. Format: YYYY-MM-DD","required":false,"schema":{"type":"string"}},{"name":"studyLastUpdatedAt","in":"query","description":"Will display studies modified between given and present time. Format: ISO-8601","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"projectLastUpdatedAt","in":"query","description":"Will display studies with project modified between given and present time. Format: ISO-8601","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"page","in":"query","description":"Page number which will be returned. Indexing from 0","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"How many elements will be on one page","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudyDetails"}}}},"400":{"description":"Input data is not correct"},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}},"/api/v1/studies/nonClinical":{"get":{"tags":["Studies"],"operationId":"getNonClinicalStudies","parameters":[{"name":"date","in":"query","description":"Will display non-clinical studies created or modified between given date and today. Format: YYYY-MM-DD","required":false,"schema":{"type":"string"}},{"name":"protocolNumber","in":"query","description":"Will display non-clinical study with given protocol number","required":false,"schema":{"type":"string"}},{"name":"croStudyId","in":"query","description":"Will display non-clinical study with given cro study id","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number which will be returned. Indexing from 0","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"How many elements will be on one page","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Input data is not correct"},"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkfrontNonClinicalStudies"}}}},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}},"/api/v1/comet/studies/{protocolNumbersOrCroStudyId}":{"get":{"tags":["Studies"],"operationId":"getStudiesByProtocolNumbers","parameters":[{"name":"protocolNumbersOrCroStudyId","in":"path","description":"Will display clinical study with given protocol numbers or CRO study id","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExternalStudyProtocolNumberDto"}}}}},"400":{"description":"Input data is not correct"},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}},"/api/v1/studies":{"get":{"tags":["Studies"],"operationId":"getStudies","parameters":[{"name":"dateTime","in":"query","description":"Will display studies created or modified between given and present time. Format: ISO-8601","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"page","in":"query","description":"Page number which will be returned. Indexing from 0","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"How many elements will be on one page","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Input data is not correct"},"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Studies"}}}},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}},"/api/v1/rfm/studies/clinicalStudies":{"get":{"tags":["Studies"],"operationId":"getClinicalStudiesRfm","parameters":[{"name":"page","in":"query","description":"Page number which will be returned. Indexing from 0","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"How many elements will be on one page","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageClinicalStudyRfmDto"}}}},"400":{"description":"Input data is not correct"},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}},"/api/v1/studies/user":{"get":{"tags":["Studies"],"description":"Get study list","operationId":"getSecureStudies","parameters":[{"name":"username","in":"query","description":"Username","required":true,"schema":{"type":"string"}},{"name":"date","in":"query","description":"Will display studies created or modified between given date and today. Format: YYYY-MM-DD","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number which will be returned. Indexing from 0","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"How many elements will be on one page","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Input data is not correct"},"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecureStudies"}}}},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}},"/api/v1/studies/user/milestones":{"get":{"tags":["Studies"],"description":"Get milestones for studies","operationId":"getSecureStudyMilestones","parameters":[{"name":"username","in":"query","description":"Username","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number which will be returned. Indexing from 0","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"How many elements will be on one page","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageExternalStudyMilestonesResource"}}}},"400":{"description":"Input data is not correct"},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}},"/api/v1/studies/moleculeDictionary":{"get":{"tags":["Studies"],"operationId":"getStudyMoleculeDim","parameters":[{"name":"dateTime","in":"query","description":"Will display study molecules created between given and present time. Format: ISO-8601","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"page","in":"query","description":"Page number which will be returned. Indexing from 0","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"How many elements will be on one page","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageString"}}}},"400":{"description":"Input data is not correct"},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}},"/api/v1/studies/clinical":{"get":{"tags":["Studies"],"operationId":"getClinicalStudies","parameters":[{"name":"date","in":"query","description":"Will display clinical studies created or modified between given date and today. Format: YYYY-MM-DD","required":false,"schema":{"type":"string"}},{"name":"protocolNumber","in":"query","description":"Will display clinical study with given protocol number","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number which will be returned. Indexing from 0","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"How many elements will be on one page","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Input data is not correct"},"200":{"description":"Successfully retrieved resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkfrontClinicalStudies"}}}},"403":{"description":"The action you are trying to perform is forbidden"}},"security":[{"bearer":[]}]}}},"components":{"schemas":{"LoginRequestDto":{"type":"object","properties":{"username":{"type":"string"},"password":{"type":"string"}},"description":"Username and password"},"FunctionalRosterDto":{"type":"object","properties":{"rosterId":{"type":"integer","format":"int64"},"rosterName":{"type":"string"},"lastModified":{"type":"string","format":"date"},"rosterProjectCount":{"type":"integer","format":"int64"},"teamMembersCount":{"type":"integer","format":"int64"},"roleCount":{"type":"integer","format":"int64"},"rosterSecurityOwners":{"type":"array","items":{"type":"string"}}}},"LoginEvent":{"type":"object","properties":{"loginEventId":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"loginDate":{"type":"string","format":"date-time"},"instance":{"type":"string"}}},"RocheUser":{"type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"updatedBy":{"type":"string"},"id":{"type":"integer","format":"int64"},"loginName":{"type":"string"},"legalFirstName":{"type":"string"},"legalLastName":{"type":"string"},"middleName":{"type":"string"},"legalName":{"type":"string"},"emailAddress":{"type":"string"},"costCenterNumber":{"type":"string"},"employmentStatusCd":{"type":"string"},"displayName":{"type":"string"},"employmentTypeCd":{"type":"string"},"jobTitle":{"type":"string"},"rosterOwners":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/RosterOwner"}},"loginEvents":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/LoginEvent"}}}},"Roster":{"type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"updatedBy":{"type":"string"},"id":{"type":"integer","format":"int64"},"rosterName":{"type":"string"},"functionalArea":{"type":"string"},"functionalAreaId":{"type":"integer","format":"int64"},"version":{"type":"integer","format":"int64"},"rosterOwners":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/RosterOwner"}},"rosterType":{"type":"string","enum":["Security","Functional Area"]},"functional":{"type":"boolean"}}},"RosterOwner":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"user":{"$ref":"#/components/schemas/RocheUser"},"roster":{"$ref":"#/components/schemas/Roster"}}},"ProjectAliasDto":{"type":"object","properties":{"projectAliasId":{"type":"integer","format":"int64"},"sourceSystem":{"type":"string"},"type":{"type":"string"},"value":{"type":"string"}}},"ProjectDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"moleculeType":{"type":"string"},"therapeuticArea":{"type":"string"},"stage":{"type":"string"},"status":{"type":"string"},"comment":{"type":"string"},"aliases":{"type":"array","items":{"$ref":"#/components/schemas/ProjectAliasDto"}},"teamMembers":{"type":"array","items":{"$ref":"#/components/schemas/TeamMemberDto"}}}},"RoleDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"TeamMemberDto":{"type":"object","properties":{"preferredFullName":{"type":"string"},"email":{"type":"string"},"login":{"type":"string"},"roles":{"type":"array","items":{"$ref":"#/components/schemas/RoleDto"}}}},"ExternalUserDto":{"type":"object","properties":{"loginName":{"type":"string"},"legalFirstName":{"type":"string"},"legalLastName":{"type":"string"},"displayName":{"type":"string"},"effectiveStartDate":{"type":"string","format":"date"},"effectiveEndDate":{"type":"string","format":"date"}}},"AssayResource":{"type":"object","properties":{"assayId":{"type":"string"},"assayTitle":{"type":"string"},"assayDetails":{"type":"string"},"generalAssayMethod":{"type":"string"},"detectionDevice":{"type":"array","items":{"type":"string"}},"deviceManufacturer":{"type":"string"},"analytePanelName":{"type":"string"},"referenceGenome":{"type":"string"},"requestedByUser":{"type":"string"},"functionalAreaAssayOwner":{"type":"string"},"individualAssayOwner":{"type":"string"},"animalSpecies":{"type":"string"},"statusName":{"type":"string"},"assayPurposes":{"type":"array","items":{"type":"string"}},"siteAssays":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/SiteAssayResource"}},"projects":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/ProjectResource"}},"assayAnalytes":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}},"AssayResources":{"type":"object","properties":{"assayResources":{"type":"array","items":{"$ref":"#/components/schemas/AssayResource"}}}},"Page":{"type":"object","properties":{"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"number":{"type":"integer","format":"int32"}}},"ProjectResource":{"type":"object","properties":{"projectId":{"type":"integer","format":"int64"},"targetName":{"type":"string"},"therapeuticArea":{"type":"string"},"currentStatus":{"type":"string"},"stage":{"type":"string"},"sourceSystem":{"type":"string"},"createdAt":{"type":"string","format":"date"},"modifiedAt":{"type":"string","format":"date"},"createdBy":{"type":"string"},"modifiedBy":{"type":"string"}}},"RfmAssays":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/Page"},"_embedded":{"$ref":"#/components/schemas/AssayResources"}}},"SiteAssayResource":{"type":"object","properties":{"assayId":{"type":"string"},"assayTitle":{"type":"string"},"siteAssayId":{"type":"string"},"siteAssayName":{"type":"string"},"siteCodeOfAssay":{"type":"string"},"siteAssayCroSiteId":{"type":"integer","format":"int64"},"siteAssayCroSiteName":{"type":"string"},"siteAssayCroVendorId":{"type":"integer","format":"int64"},"siteAssayCroVendorName":{"type":"string"},"animalSpecies":{"type":"string"},"siteAssayCroSiteConcat":{"type":"string"}}},"PageSiteAssayEnclosingModel":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"sort":{"$ref":"#/components/schemas/Sort"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/Pageable"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/SiteAssayEnclosingModel"}},"number":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"Pageable":{"type":"object","properties":{"sort":{"$ref":"#/components/schemas/Sort"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"paged":{"type":"boolean"},"unpaged":{"type":"boolean"},"offset":{"type":"integer","format":"int64"}}},"PreferredLabelDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"label":{"type":"string"}}},"RelatedDocumentRequestDto":{"type":"object","properties":{"name":{"type":"string"},"url":{"type":"string"}}},"SiteAssayAnalyteDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"lloq":{"type":"number","format":"double"},"uloq":{"type":"number","format":"double"},"minReqdDilution":{"type":"number","format":"double"},"ltas70c":{"maxLength":50,"minLength":0,"type":"string"},"ltas20c":{"maxLength":50,"minLength":0,"type":"string"},"ccpf":{"maxLength":50,"minLength":0,"type":"string"},"scpf":{"maxLength":100,"minLength":0,"type":"string"},"minReporTiterVal":{"maxLength":100,"minLength":0,"type":"string"},"dilQcRange":{"maxLength":100,"minLength":0,"type":"string"},"antibodyTarget":{"maxLength":100,"minLength":0,"type":"string"},"assayAnalyteId":{"type":"integer","format":"int64"},"measurementUnits":{"$ref":"#/components/schemas/PreferredLabelDto"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"updatedBy":{"type":"string"},"analyteName":{"type":"string"},"analyteCategory":{"type":"string"},"captureReagent":{"type":"string"},"captureReagentVendor":{"type":"string"},"captureReagentCatalog":{"type":"string"},"captureReagentCloneId":{"type":"string"},"detectionReagent":{"type":"string"},"detectionReagentVendor":{"type":"string"},"detectionReagentCatalog":{"type":"string"},"detectionReagentCloneId":{"type":"string"},"locus":{"type":"string"},"probeId":{"type":"string"},"casId":{"type":"string"},"containerId":{"type":"string"},"cellId":{"type":"string"},"cellName":{"type":"string"},"drugId":{"type":"string"},"drugName":{"type":"string"},"drugMetaboliteId":{"type":"string"},"drugMetaboliteName":{"type":"string"},"metaboliteName":{"type":"string"},"hgncId":{"type":"integer","format":"int64"},"hgncSymbol":{"type":"string"},"geneticVariantId":{"type":"string"},"geneticVariantSymbol":{"type":"string"},"unitProtainId":{"type":"string"},"unitProtainSymbol":{"type":"string"},"transcriptId":{"type":"string"},"transcriptSymbol":{"type":"string"}}},"SiteAssayContractResource":{"type":"object","properties":{"siteAssayContractId":{"type":"integer","format":"int64"},"contractId":{"type":"integer","format":"int64"},"contractNum":{"type":"string"},"contractTypeId":{"type":"integer","format":"int64"},"contractType":{"type":"string"},"studyId":{"type":"integer","format":"int64"},"studyProtocolNumber":{"type":"string"},"projectId":{"type":"integer","format":"int64"},"projectDisplayName":{"type":"string"},"siteAssayId":{"type":"string"},"siteAssayInstanceId":{"type":"integer","format":"int64"},"siteAssayName":{"type":"string"},"croName":{"type":"string"},"poNumber":{"type":"string"},"croWorkId":{"type":"string"},"wbsCode":{"type":"string"},"notes":{"type":"string"},"managePermission":{"type":"boolean"},"relatedDocuments":{"type":"array","items":{"$ref":"#/components/schemas/RelatedDocumentRequestDto"}}}},"SiteAssayDetailsDto":{"required":["siteAssayName"],"type":"object","properties":{"siteAssayId":{"type":"string"},"instanceId":{"type":"integer","format":"int64"},"siteAssayName":{"maxLength":200,"minLength":0,"type":"string"},"primaryAssayId":{"type":"string"},"siteCodeOfAssay":{"maxLength":100,"minLength":0,"type":"string"},"detailsOfSiteAssay":{"maxLength":250,"minLength":0,"type":"string"},"assayDuration":{"maxLength":50,"minLength":0,"type":"string"},"assayDevelopmentStatus":{"type":"string"},"minimumRequiredVolume":{"type":"number","format":"double"},"mrvUnit":{"type":"string"},"active":{"type":"boolean"},"croSite":{"$ref":"#/components/schemas/PreferredLabelDto"},"croVendor":{"$ref":"#/components/schemas/PreferredLabelDto"},"biologicalMatrices":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/PreferredLabelDto"}},"diseaseStates":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/PreferredLabelDto"}},"primaryAssayName":{"type":"string"},"functionalArea":{"type":"string"},"createdBy":{"type":"string"},"lastEditedBy":{"type":"string"},"createdAt":{"type":"string","format":"date"},"lastEditedAt":{"type":"string","format":"date"},"manageAssayPermission":{"type":"boolean"},"analyteCount":{"type":"integer","format":"int64"},"studyCount":{"type":"integer","format":"int64"},"contractCount":{"type":"integer","format":"int64"},"relatedDocumentCount":{"type":"integer","format":"int64"}}},"SiteAssayEnclosingModel":{"type":"object","properties":{"siteAssayDetailsDto":{"$ref":"#/components/schemas/SiteAssayDetailsDto"},"siteAssayAnalyteList":{"type":"array","items":{"$ref":"#/components/schemas/SiteAssayAnalyteDto"}},"siteAssayStudies":{"type":"array","items":{"$ref":"#/components/schemas/StudySiteAssayDto"}},"siteAssayContracts":{"type":"array","items":{"$ref":"#/components/schemas/SiteAssayContractResource"}}}},"Sort":{"type":"object","properties":{"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"},"empty":{"type":"boolean"}}},"StudySiteAssayDto":{"type":"object","properties":{"studyId":{"type":"integer","format":"int64"},"studyTitle":{"type":"string"},"protocolNumber":{"type":"string"},"workPackage":{"type":"string"},"generalIndication":{"type":"string"},"phase":{"type":"string"},"studyType":{"type":"string","enum":["Clinical","Non-Clinical"]},"stage":{"type":"string"},"status":{"type":"string"},"therapeuticArea":{"type":"string"},"executingParty":{"type":"string"}}},"SiteAssayDto":{"type":"object","properties":{"siteAssayId":{"type":"string"},"siteCodeOfAssay":{"type":"string"}}},"AssayAnalyteRfmDto":{"type":"object","properties":{"assayAnalyteId":{"type":"integer","format":"int64"},"analyteName":{"type":"string"},"assayId":{"type":"integer","format":"int64"},"assayTitle":{"type":"string"},"siteAssayAnalyteId":{"type":"integer","format":"int64"},"siteAssayId":{"type":"integer","format":"int64"},"siteAssayName":{"type":"string"},"siteCodeOfAssay":{"type":"string"}}},"PageAssayAnalyteRfmDto":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"sort":{"$ref":"#/components/schemas/Sort"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/Pageable"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/AssayAnalyteRfmDto"}},"number":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"PageSiteAssayCroDto":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"sort":{"$ref":"#/components/schemas/Sort"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/Pageable"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/SiteAssayCroDto"}},"number":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"SiteAssayCroDto":{"type":"object","properties":{"croVendorId":{"type":"integer","format":"int64"},"croVendorName":{"type":"string"},"croSiteId":{"type":"integer","format":"int64"},"croSiteName":{"type":"string"},"status":{"type":"string"},"croConcat":{"type":"string"}}},"PageSiteAssayBioMatrixDto":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"sort":{"$ref":"#/components/schemas/Sort"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/Pageable"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/SiteAssayBioMatrixDto"}},"number":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"SiteAssayBioMatrixDto":{"type":"object","properties":{"biologicalMatrixCD":{"type":"integer","format":"int64"},"matrixName":{"type":"string"}}},"SiteAssayAnalyteRequestDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"lloq":{"type":"number","format":"double"},"uloq":{"type":"number","format":"double"},"minReqdDilution":{"type":"number","format":"double"},"ltas70c":{"maxLength":50,"minLength":0,"type":"string"},"ltas20c":{"maxLength":50,"minLength":0,"type":"string"},"ccpf":{"maxLength":50,"minLength":0,"type":"string"},"scpf":{"maxLength":100,"minLength":0,"type":"string"},"minReporTiterVal":{"maxLength":100,"minLength":0,"type":"string"},"dilQcRange":{"maxLength":100,"minLength":0,"type":"string"},"antibodyTarget":{"maxLength":100,"minLength":0,"type":"string"},"assayAnalyteId":{"type":"integer","format":"int64"},"measurementUnits":{"type":"string"}}},"SiteAssayModifyDto":{"type":"object","properties":{"siteAssayDetailsDto":{"$ref":"#/components/schemas/SiteAssayRequestDto"},"siteAssayAnalyteList":{"type":"array","items":{"$ref":"#/components/schemas/SiteAssayAnalyteRequestDto"}}}},"SiteAssayRequestDto":{"required":["biologicalMatrices","croVendor","siteAssayName"],"type":"object","properties":{"siteAssayId":{"type":"string"},"instanceId":{"type":"integer","format":"int64"},"siteAssayName":{"maxLength":200,"minLength":0,"type":"string"},"primaryAssayId":{"type":"string"},"siteCodeOfAssay":{"maxLength":100,"minLength":0,"type":"string"},"detailsOfSiteAssay":{"maxLength":250,"minLength":0,"type":"string"},"assayDuration":{"maxLength":50,"minLength":0,"type":"string"},"assayDevelopmentStatus":{"type":"string"},"minimumRequiredVolume":{"type":"number","format":"double"},"mrvUnit":{"type":"string"},"active":{"type":"boolean"},"croSite":{"maxLength":200,"minLength":0,"type":"string"},"croVendor":{"maxLength":200,"minLength":0,"type":"string"},"biologicalMatrices":{"type":"array","items":{"type":"string"}},"diseaseStates":{"type":"array","items":{"type":"string"}}}},"RfmSiteAssays":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/Page"},"_embedded":{"$ref":"#/components/schemas/SiteAssayResources"}}},"SiteAssayResources":{"type":"object","properties":{"siteAssayResources":{"type":"array","items":{"$ref":"#/components/schemas/SiteAssayResource"}}}},"AssayEndpointDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"endpointName":{"maxLength":100,"minLength":0,"type":"string"},"uomId":{"type":"integer","format":"int64"},"uomShortName":{"maxLength":50,"minLength":0,"type":"string"}}},"AssaySubProtocol":{"type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"updatedBy":{"type":"string"},"id":{"type":"integer","format":"int64"},"materialPreparationProtocol":{"type":"string"},"manufacturerPreparationKit":{"type":"string"},"kitManufacturer":{"type":"string"},"materialPreparationReagent":{"type":"string"},"deleted":{"type":"boolean"}}},"CellTypeDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"cellTypeName":{"type":"string"},"cellSupplierSrc":{"type":"string"}}},"ExternalAssayAnalyteDto":{"required":["analyteCategory"],"type":"object","properties":{"assayAnalyteId":{"type":"integer","format":"int64"},"analyteName":{"maxLength":100,"minLength":0,"type":"string"},"captureReagent":{"maxLength":150,"minLength":0,"type":"string"},"captureReagentVendor":{"maxLength":150,"minLength":0,"type":"string"},"captureReagentCatalog":{"maxLength":150,"minLength":0,"type":"string"},"captureReagentCloneId":{"maxLength":150,"minLength":0,"type":"string"},"detectionReagent":{"maxLength":150,"minLength":0,"type":"string"},"detectionReagentVendor":{"maxLength":150,"minLength":0,"type":"string"},"detectionReagentCatalog":{"maxLength":150,"minLength":0,"type":"string"},"detectionReagentCloneId":{"maxLength":150,"minLength":0,"type":"string"},"locus":{"maxLength":100,"minLength":0,"type":"string"},"probeId":{"maxLength":100,"minLength":0,"type":"string"},"casId":{"maxLength":100,"minLength":0,"type":"string"},"containerId":{"maxLength":100,"minLength":0,"type":"string"},"cellId":{"maxLength":100,"minLength":0,"type":"string"},"cellName":{"maxLength":100,"minLength":0,"type":"string"},"drugId":{"maxLength":100,"minLength":0,"type":"string"},"drugName":{"maxLength":100,"minLength":0,"type":"string"},"drugMetaboliteId":{"maxLength":100,"minLength":0,"type":"string"},"drugMetaboliteName":{"maxLength":100,"minLength":0,"type":"string"},"metaboliteName":{"maxLength":100,"minLength":0,"type":"string"},"hgncId":{"type":"integer","format":"int64"},"hgncSymbol":{"type":"string"},"geneticVariantId":{"maxLength":100,"minLength":0,"type":"string"},"geneticVariantSymbol":{"maxLength":100,"minLength":0,"type":"string"},"unitProtainId":{"maxLength":100,"minLength":0,"type":"string"},"unitProtainSymbol":{"maxLength":100,"minLength":0,"type":"string"},"transcriptId":{"maxLength":100,"minLength":0,"type":"string"},"transcriptSymbol":{"maxLength":100,"minLength":0,"type":"string"},"importFileName":{"maxLength":255,"minLength":0,"type":"string"},"analyteCategory":{"$ref":"#/components/schemas/PreferredLabelDto"}}},"ExternalAssayDetailsDto":{"required":["assayTitle"],"type":"object","properties":{"assayId":{"type":"string"},"instanceId":{"type":"integer","format":"int64"},"assayTitle":{"maxLength":200,"minLength":0,"type":"string"},"analytePanelName":{"maxLength":250,"minLength":0,"type":"string"},"assayDetails":{"maxLength":300,"minLength":0,"type":"string"},"individualAssayOwner":{"maxLength":100,"minLength":0,"type":"string"},"assayStatus":{"type":"string"},"cellTypes":{"type":"array","items":{"$ref":"#/components/schemas/CellTypeDto"}},"assayOrgans":{"type":"array","items":{"$ref":"#/components/schemas/OrganDto"}},"assayPurpose":{"type":"array","items":{"type":"string"}},"generalAssayMethod":{"type":"string"},"functionalAreaAssayOwner":{"type":"string"},"strain":{"type":"string"},"assaySubMethod":{"type":"string"},"detectionMethod":{"type":"string"},"detectionDevice":{"type":"array","items":{"type":"string"}},"deviceManufacturer":{"type":"string"},"referenceGenome":{"type":"string"},"species":{"type":"string"},"measurementCategory":{"type":"string"},"assayAffiliation":{"type":"array","items":{"type":"string"}},"siteAssayCount":{"type":"integer","format":"int64"},"assayAnalyteCount":{"type":"integer","format":"int64"},"assayProjectCount":{"type":"integer","format":"int64"},"relatedDocumentCount":{"type":"integer","format":"int64"},"assayEndpointCount":{"type":"integer","format":"int64"},"assaySubProtocolCount":{"type":"integer","format":"int64"},"lastModifiedDate":{"type":"string","format":"date"},"createdDate":{"type":"string","format":"date"},"lastModifiedBy":{"type":"string"},"createdBy":{"type":"string"},"workflowStatus":{"type":"string"},"reason":{"type":"string"}}},"ExternalAssayEnclosingModel":{"type":"object","properties":{"assayDetailsDto":{"$ref":"#/components/schemas/ExternalAssayDetailsDto"},"assaySubProtocols":{"type":"array","items":{"$ref":"#/components/schemas/AssaySubProtocol"}},"assayEndpoints":{"type":"array","items":{"$ref":"#/components/schemas/AssayEndpointDto"}},"assayProjects":{"type":"array","items":{"$ref":"#/components/schemas/ProjectResource"}},"assayAnalytes":{"type":"array","items":{"$ref":"#/components/schemas/ExternalAssayAnalyteDto"}},"siteAssays":{"type":"array","items":{"$ref":"#/components/schemas/ExternalSiteAssayResource"}}}},"ExternalSiteAssayResource":{"type":"object","properties":{"siteAssayId":{"type":"string"},"siteAssayName":{"type":"string"},"croSite":{"type":"string"},"croVendor":{"type":"string"},"biologicalMatrices":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"siteCodeOfAssay":{"type":"string"},"analyteCount":{"type":"integer","format":"int64"},"studyCount":{"type":"integer","format":"int64"},"contractCount":{"type":"integer","format":"int64"},"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}}}},"Link":{"type":"object","properties":{"rel":{"type":"string"},"href":{"type":"string"},"hreflang":{"type":"string"},"media":{"type":"string"},"title":{"type":"string"},"type":{"type":"string"},"deprecation":{"type":"string"},"profile":{"type":"string"},"name":{"type":"string"}}},"OrganDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"organName":{"type":"string"}}},"ProjectDetailResource":{"type":"object","properties":{"projectId":{"type":"integer","format":"int64"},"targetName":{"type":"string"},"stage":{"type":"string"},"taDescription":{"type":"string"},"displayName":{"type":"string"},"projectStatus":{"type":"string"},"moleculeType":{"type":"string"}}},"ProjectDetailResources":{"type":"object","properties":{"projectDetailResources":{"type":"array","items":{"$ref":"#/components/schemas/ProjectDetailResource"}}}},"ProjectDetails":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/Page"},"_embedded":{"$ref":"#/components/schemas/ProjectDetailResources"}}},"SecureProjectResource":{"type":"object","properties":{"projectId":{"type":"integer","format":"int64"},"targetName":{"type":"string"},"taId":{"type":"integer","format":"int64"},"currentStatus":{"type":"string"},"stage":{"type":"string"},"taShortDescription":{"type":"string"},"taDescription":{"type":"string"},"displayName":{"type":"string"},"moleculeType":{"type":"string"}}},"SecureProjectResources":{"type":"object","properties":{"secureProjectResources":{"type":"array","items":{"$ref":"#/components/schemas/SecureProjectResource"}}}},"SecureProjects":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/Page"},"_embedded":{"$ref":"#/components/schemas/SecureProjectResources"}}},"ProjectAliasResource":{"type":"object","properties":{"projectId":{"type":"integer","format":"int64"},"displayName":{"type":"string"},"projectAliases":{"type":"array","items":{"$ref":"#/components/schemas/ProjectAliasDto"}}}},"ProjectAliasResources":{"type":"object","properties":{"projectAliasResources":{"type":"array","items":{"$ref":"#/components/schemas/ProjectAliasResource"}}}},"ProjectAliases":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/Page"},"_embedded":{"$ref":"#/components/schemas/ProjectAliasResources"}}},"ProjectResources":{"type":"object","properties":{"projectResources":{"type":"array","items":{"$ref":"#/components/schemas/ProjectResource"}}}},"Projects":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/Page"},"_embedded":{"$ref":"#/components/schemas/ProjectResources"}}},"ExternalStudyAliasResource":{"type":"object","properties":{"studyAliasId":{"type":"integer","format":"int64"},"studyId":{"type":"integer","format":"int64"},"studyAlias":{"type":"string"},"sourceSystem":{"type":"string"},"protocolNumber":{"type":"string"},"workPkgCd":{"type":"string"},"oprRecCreaTs":{"type":"string","format":"date-time"},"oprRecUpdtTs":{"type":"string","format":"date-time"},"oprCreaByUsrNm":{"type":"string"},"oprUpdtByUsrNm":{"type":"string"}}},"ExternalStudyAliasResources":{"type":"object","properties":{"externalStudyAliasResources":{"type":"array","items":{"$ref":"#/components/schemas/ExternalStudyAliasResource"}}}},"StudyAliases":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/Page"},"_embedded":{"$ref":"#/components/schemas/ExternalStudyAliasResources"}}},"ExternalStudyDetailsResource":{"required":["studyId"],"type":"object","properties":{"studyId":{"type":"integer","format":"int64"},"alternateProtocolNumber":{"type":"string"},"currentStatus":{"type":"string"},"currentStatusOrder":{"type":"integer","format":"int64"},"genericName":{"type":"string"},"globalTradeName":{"type":"string"},"molNames":{"type":"string"},"phaseNumber":{"type":"string"},"therapeuticArea":{"type":"string"},"primMolName":{"type":"string"},"projectId":{"type":"integer","format":"int64"},"projectName":{"type":"string"},"protocolNumber":{"type":"string"},"psApprvlStatus":{"type":"string"},"rocheGrpNumber":{"type":"string"},"rocheNumber":{"type":"string"},"source":{"type":"string"},"stage":{"type":"string"},"studyShortTitle":{"type":"string"},"studyTitle":{"type":"string"},"studyTypeCode":{"type":"string"},"studyTypeOrder":{"type":"integer","format":"int64"},"workPkgCd":{"type":"string"},"moleculeType":{"type":"string"},"moleculePhase":{"type":"string"},"projectMoleculeName":{"type":"string"},"studyLastUpdatedAt":{"type":"string","format":"date-time"},"projectLastUpdatedAt":{"type":"string","format":"date-time"},"researchName":{"type":"string"},"fullProgramName":{"type":"string"},"displayName":{"type":"string"},"leadScientist":{"$ref":"#/components/schemas/ExternalStudyUserDto"},"altLeadScientist":{"$ref":"#/components/schemas/ExternalStudyUserDto"},"studyDirector":{"$ref":"#/components/schemas/ExternalStudyUserDto"},"studyMonitor":{"$ref":"#/components/schemas/ExternalStudyUserDto"},"actualNumSubjects":{"type":"integer","format":"int64"},"actNumSite":{"type":"integer","format":"int64"},"enrlRate":{"type":"string"},"executingParty":{"type":"string"},"sponsoringParty":{"type":"string"},"studyBlinding":{"type":"string"},"studyGenIndication":{"type":"string"},"studySpecificIndication":{"type":"string"},"targetNumSubjects":{"type":"integer","format":"int64"},"tgtNumSite":{"type":"integer","format":"int64"},"themeNumber":{"type":"string"},"species":{"type":"string"},"croStdyId":{"type":"string"},"finalReportDate":{"type":"string","format":"date-time"},"stdyGlpNonGlpInd":{"type":"string"},"cro":{"type":"string"},"croLocation":{"type":"string"},"studyDesign":{"type":"string"},"nonClinicalStudyType":{"type":"string"},"gneStdyNum":{"type":"string"},"studyPopln":{"type":"string"},"studyRandFlag":{"type":"integer","format":"int64"},"studyLeaderLocation":{"type":"string"}}},"ExternalStudyDetailsResources":{"type":"object","properties":{"externalStudyDetailsResources":{"type":"array","items":{"$ref":"#/components/schemas/ExternalStudyDetailsResource"}}}},"ExternalStudyUserDto":{"type":"object","properties":{"login":{"type":"string"},"displayName":{"type":"string"}}},"StudyDetails":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/Page"},"_embedded":{"$ref":"#/components/schemas/ExternalStudyDetailsResources"}}},"StudyMilestoneData":{"type":"object","properties":{"milestoneCode":{"type":"string"},"milestoneDescription":{"type":"string"},"plannedDate":{"type":"string"},"actualDate":{"type":"string"},"lastUpdated":{"type":"string"},"selectOrder":{"type":"integer","format":"int64"}}},"StudyTeamMemberDto":{"type":"object","properties":{"studyTeamMemberName":{"type":"string"},"studyTeamMemberLegalName":{"type":"string"},"studyTeamMemberEmail":{"type":"string"},"userId":{"type":"integer","format":"int64"},"username":{"type":"string"},"studyTeamMemberRoles":{"type":"array","items":{"$ref":"#/components/schemas/StudyTeamMemberRoles"}}}},"StudyTeamMemberRoles":{"type":"object","properties":{"studyTeamMemberId":{"type":"integer","format":"int64"},"studyTeamMemberRole":{"type":"string"},"roleId":{"type":"integer","format":"int64"}}},"WorkfrontNonClinicalStudies":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/Page"},"_embedded":{"$ref":"#/components/schemas/WorkfrontNonClinicalStudyResources"}}},"WorkfrontNonClinicalStudyResource":{"required":["studyId"],"type":"object","properties":{"studyId":{"type":"integer","format":"int64"},"alternateProtocolNumber":{"type":"string"},"currentStatus":{"type":"string"},"currentStatusOrder":{"type":"integer","format":"int64"},"genericName":{"type":"string"},"globalTradeName":{"type":"string"},"molNames":{"type":"string"},"phaseNumber":{"type":"string"},"therapeuticArea":{"type":"string"},"primMolName":{"type":"string"},"projectId":{"type":"integer","format":"int64"},"projectName":{"type":"string"},"protocolNumber":{"type":"string"},"psApprvlStatus":{"type":"string"},"rocheGrpNumber":{"type":"string"},"rocheNumber":{"type":"string"},"source":{"type":"string"},"stage":{"type":"string"},"studyShortTitle":{"type":"string"},"studyTitle":{"type":"string"},"studyTypeCode":{"type":"string"},"studyTypeOrder":{"type":"integer","format":"int64"},"workPkgCd":{"type":"string"},"moleculeType":{"type":"string"},"moleculePhase":{"type":"string"},"projectMoleculeName":{"type":"string"},"studyLastUpdatedAt":{"type":"string","format":"date-time"},"projectLastUpdatedAt":{"type":"string","format":"date-time"},"researchName":{"type":"string"},"fullProgramName":{"type":"string"},"displayName":{"type":"string"},"leadScientist":{"$ref":"#/components/schemas/ExternalStudyUserDto"},"altLeadScientist":{"$ref":"#/components/schemas/ExternalStudyUserDto"},"studyDirector":{"$ref":"#/components/schemas/ExternalStudyUserDto"},"studyMonitor":{"$ref":"#/components/schemas/ExternalStudyUserDto"},"nclMolNames":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"milestones":{"type":"array","items":{"$ref":"#/components/schemas/StudyMilestoneData"}},"teamMembers":{"type":"array","items":{"$ref":"#/components/schemas/StudyTeamMemberDto"}},"species":{"type":"string"},"croStdyId":{"type":"string"},"finalReportDate":{"type":"string","format":"date-time"},"stdyGlpNonGlpInd":{"type":"string"},"cro":{"type":"string"},"croLocation":{"type":"string"},"studyDesign":{"type":"string"},"nonClinicalStudyType":{"type":"string"},"projectNameWhenLinking":{"type":"string"},"moleculePhaseWhenLinking":{"type":"string"}}},"WorkfrontNonClinicalStudyResources":{"type":"object","properties":{"workfrontNonClinicalStudyResources":{"type":"array","items":{"$ref":"#/components/schemas/WorkfrontNonClinicalStudyResource"}}}},"ExternalStudyProtocolNumberDto":{"type":"object","properties":{"protocolNumber":{"type":"string"},"croStudyId":{"type":"string"},"studyTypeCode":{"type":"string","enum":["Clinical","Non-Clinical"]},"randomizationFlag":{"type":"string","enum":["Yes","No","Not Defined"]}}},"ExternalStudyResource":{"required":["studyId"],"type":"object","properties":{"studyId":{"type":"integer","format":"int64"},"protocolNumber":{"type":"string"},"phase":{"type":"string"},"studyTitle":{"type":"string"},"themeNumber":{"type":"string"},"executingParty":{"type":"string"},"currentStatus":{"type":"string"},"studyTypeCode":{"type":"string"},"studyGenIndication":{"type":"string"},"studySpecificIndication":{"type":"string"},"targetNumSubject":{"type":"integer","format":"int64"},"actualNumSubjects":{"type":"integer","format":"int64"},"projectId":{"type":"integer","format":"int64"},"therapeuticArea":{"type":"string"},"species":{"type":"string"},"studyShortTitle":{"type":"string"},"studyPopln":{"type":"string"},"studyBlinding":{"type":"string"},"sourceSystem":{"type":"string"},"oprRecCreaTs":{"type":"string","format":"date-time"},"oprRecUpdtTs":{"type":"string","format":"date-time"},"oprCreaByUsrNm":{"type":"string"},"oprUpdtByUsrNm":{"type":"string"},"gneStdyNum":{"type":"string"},"tgtNumSite":{"type":"integer","format":"int64"},"alternateProtocolNumber":{"type":"string"},"plannedNumOfSites":{"type":"integer","format":"int64"},"actualNumOfSites":{"type":"integer","format":"int64"},"rndmzTyp":{"type":"string"},"studyAcronym":{"type":"string"},"onbNum":{"type":"integer","format":"int64"},"croStdyNbr":{"type":"string"},"stdyGlpNonGlpInd":{"type":"string"},"studyRandFlag":{"type":"integer","format":"int64"},"workPkgCd":{"type":"string"},"psApprvlStatus":{"type":"string"},"enrlRate":{"type":"string"},"finalReportDate":{"type":"string","format":"date"},"nonClinicalStudyType":{"type":"string"},"molNames":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}},"ExternalStudyResources":{"type":"object","properties":{"externalStudyResources":{"type":"array","items":{"$ref":"#/components/schemas/ExternalStudyResource"}}}},"Studies":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/Page"},"_embedded":{"$ref":"#/components/schemas/ExternalStudyResources"}}},"ClinicalStudyRfmDto":{"type":"object","properties":{"studyId":{"type":"integer","format":"int64"},"protocolNumber":{"type":"string"},"projectId":{"type":"integer","format":"int64"},"randomizationFlag":{"type":"integer","format":"int64"}}},"PageClinicalStudyRfmDto":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"sort":{"$ref":"#/components/schemas/Sort"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/Pageable"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/ClinicalStudyRfmDto"}},"number":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"ExternalSecureStudyResource":{"required":["studyId"],"type":"object","properties":{"studyId":{"type":"integer","format":"int64"},"protocolNumber":{"type":"string"},"title":{"type":"string"},"alternateProtocolNumber":{"type":"string"},"primaryMoleculeName":{"type":"string"},"phase":{"type":"string"},"status":{"type":"string"},"shortTitle":{"type":"string"},"studyBlinding":{"type":"string"},"randomizationFlag":{"type":"string","enum":["0","1","2"]},"finalReportDate":{"type":"string","format":"date-time"},"themeNumber":{"type":"string"},"executingParty":{"type":"string"},"sponsoringParty":{"type":"string"},"pmnoTa":{"type":"string"},"generalIndication":{"type":"string"},"specificIndication":{"type":"string"},"plannedNumberOfSites":{"type":"integer","format":"int64"},"actualNumberOfSites":{"type":"integer","format":"int64"},"plannedNumberOfSubjects":{"type":"integer","format":"int64"},"actualNumberOfSubjects":{"type":"integer","format":"int64"},"enrollmentRate":{"type":"string"},"sourceSystem":{"type":"string"},"psApprovalStatus":{"type":"string"},"workPackage":{"type":"string"},"studyGlpNonGlpIndicator":{"type":"boolean"},"croStudyId":{"type":"string"},"type":{"type":"string","enum":["Clinical","Non-Clinical"]},"moleculeNames":{"type":"string"},"projectName":{"type":"string"},"projectId":{"type":"integer","format":"int64"},"projectStage":{"type":"string"},"species":{"type":"string"},"currentStatusOrder":{"type":"integer","format":"int64"},"genericName":{"type":"string"},"globalTradeName":{"type":"string"},"gneStdyNum":{"type":"string"},"rocheGrpNumber":{"type":"string"},"rocheNumber":{"type":"string"},"stage":{"type":"string"},"studyPopln":{"type":"string"},"studyTypeOrder":{"type":"integer","format":"int64"},"ta":{"type":"string"},"oprRecCreaTs":{"type":"string","format":"date-time"},"oprRecUpdtTs":{"type":"string","format":"date-time"},"oprCreaByUsrNm":{"type":"string"},"oprUpdtByUsrNm":{"type":"string"},"nonClinicalStudyType":{"type":"string"}}},"ExternalSecureStudyResources":{"type":"object","properties":{"externalSecureStudyResources":{"type":"array","items":{"$ref":"#/components/schemas/ExternalSecureStudyResource"}}}},"SecureStudies":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/Page"},"_embedded":{"$ref":"#/components/schemas/ExternalSecureStudyResources"}}},"ExternalStudyMilestonesResource":{"type":"object","properties":{"studyId":{"type":"integer","format":"int64"},"protocolNumber":{"type":"string"},"workPkgCd":{"type":"string"},"projectId":{"type":"integer","format":"int64"},"studyTypeCode":{"type":"string"},"stage":{"type":"string"},"milestones":{"type":"array","items":{"$ref":"#/components/schemas/StudyMilestoneData"}}}},"PageExternalStudyMilestonesResource":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"sort":{"$ref":"#/components/schemas/Sort"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/Pageable"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/ExternalStudyMilestonesResource"}},"number":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"PageString":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"sort":{"$ref":"#/components/schemas/Sort"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/Pageable"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"type":"string"}},"number":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"WorkfrontClinicalStudies":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/Page"},"_embedded":{"$ref":"#/components/schemas/WorkfrontClinicalStudyResources"}}},"WorkfrontClinicalStudyResource":{"required":["studyId"],"type":"object","properties":{"studyId":{"type":"integer","format":"int64"},"alternateProtocolNumber":{"type":"string"},"currentStatus":{"type":"string"},"currentStatusOrder":{"type":"integer","format":"int64"},"genericName":{"type":"string"},"globalTradeName":{"type":"string"},"molNames":{"type":"string"},"phaseNumber":{"type":"string"},"therapeuticArea":{"type":"string"},"primMolName":{"type":"string"},"projectId":{"type":"integer","format":"int64"},"projectName":{"type":"string"},"protocolNumber":{"type":"string"},"psApprvlStatus":{"type":"string"},"rocheGrpNumber":{"type":"string"},"rocheNumber":{"type":"string"},"source":{"type":"string"},"stage":{"type":"string"},"studyShortTitle":{"type":"string"},"studyTitle":{"type":"string"},"studyTypeCode":{"type":"string"},"studyTypeOrder":{"type":"integer","format":"int64"},"workPkgCd":{"type":"string"},"moleculeType":{"type":"string"},"moleculePhase":{"type":"string"},"projectMoleculeName":{"type":"string"},"studyLastUpdatedAt":{"type":"string","format":"date-time"},"projectLastUpdatedAt":{"type":"string","format":"date-time"},"researchName":{"type":"string"},"fullProgramName":{"type":"string"},"displayName":{"type":"string"},"leadScientist":{"$ref":"#/components/schemas/ExternalStudyUserDto"},"altLeadScientist":{"$ref":"#/components/schemas/ExternalStudyUserDto"},"studyDirector":{"$ref":"#/components/schemas/ExternalStudyUserDto"},"studyMonitor":{"$ref":"#/components/schemas/ExternalStudyUserDto"},"actualNumSubjects":{"type":"integer","format":"int64"},"actNumSite":{"type":"integer","format":"int64"},"enrlRate":{"type":"string"},"executingParty":{"type":"string"},"sponsoringParty":{"type":"string"},"studyBlinding":{"type":"string"},"studyGenIndication":{"type":"string"},"studySpecificIndication":{"type":"string"},"targetNumSubjects":{"type":"integer","format":"int64"},"tgtNumSite":{"type":"integer","format":"int64"},"themeNumber":{"type":"string"},"studyAlias":{"type":"string"},"gneStdyNum":{"type":"string"},"studyPopln":{"type":"string"},"studyRandFlag":{"type":"integer","format":"int64"},"studyLeaderLocation":{"type":"string"},"milestones":{"type":"array","items":{"$ref":"#/components/schemas/StudyMilestoneData"}},"teamMembers":{"type":"array","items":{"$ref":"#/components/schemas/StudyTeamMemberDto"}}}},"WorkfrontClinicalStudyResources":{"type":"object","properties":{"workfrontClinicalStudyResources":{"type":"array","items":{"$ref":"#/components/schemas/WorkfrontClinicalStudyResource"}}}}},"securitySchemes":{"bearer":{"type":"http","in":"header","scheme":"bearer"}}}}